body{
    background-image: url("../assets/images/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.wrapper{
    width: 100%;
    display: flex;
}
.headimg{
    width: 80%;
    top: 120px;
    padding: 15px 50px;
    border-radius: 25px;
    display: block;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 8px gray;
}
.general{
    width: 75%;
    margin:20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: rgb(255, 255, 255);
    gap: 20px;
    box-shadow: 2px 2px 8px gray;
}
.avatar{
    margin: 12px 0 12px 12px;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border: 5px solid rgba(36, 36, 186, 0.685);
}
.avatar:hover{
    transform: scale(1.05);
    transition: transform 0.1s ease;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}
.all{
    font-family: 'Roboto Slab', serif;   
}
.contact {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 10px;
    padding-bottom: 2px;
}
.nickname{
    font-style: italic;
}
.general > div {
    width: 100%;
}

.iccontact{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    user-select: none;
}
.iccontact:hover
{
    transform: scale(1.05);
    transition: transform 0.1s ease;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}
.bio {
    position: relative;
    padding-top: 5px;
}

.bio::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 10px;
    height: 6px;
    background: black;
    border-radius: 10px;
}

.line {
    position: relative;
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 10px;
    height: 3px;
    background: rgba(71, 20, 20, 0.319);
    border-radius: 10px;
}
.vach {
    position: relative;
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.vach::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 30px;
    height: 3px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
}
.dieuhuong{
    width: 75%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    background: rgb(255, 255, 255);
    box-shadow: 2px 2px 8px gray;
}
.btn{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}
.navbar{
    user-select: none;
    width: 120px;
    font-size: 90%;
    padding: 5px 5px 5px 5px;
    margin: 5px 0px 5px 5px;
    background-color: rgba(201, 212, 212, 0.456);
    text-decoration: none;
    border-radius: 8px;
    color: black;
    text-align: center;
    border: 1px solid rgba(158, 151, 151, 0.593);
    box-sizing: border-box;

}
.navbar:visited{
    color: black;
}
.navbar:hover
{
    background-color: rgba(0, 0, 0, 0.733);
    color: white;
}
.info
{
    width: 75%;
    margin:20px auto 0 auto;
    border-radius: 15px;
    background: rgb(255, 255, 255);
    box-shadow: 2px 2px 8px gray;
    padding-bottom: 5px;
}
.tieude{
    display: flex;
    padding-left: 5%;
    flex-direction: column;
    justify-content: flex-start;
}
#title_0{
    display: flex;
    padding-top: 1px;
    padding-left: 5%;
}
#title_1{
    font-size: 90%;
    padding-left: 2%;
}
.content{
    margin: 20px 15px 10px 0px;
    padding: 10px 10px 10px 20px;
    white-space: normal;
    overflow-wrap: break-word;
    background-color: rgb(251, 255, 255);
    border-radius: 10px;
    font-family: 'Fredoka', serif;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);  
}
.content:hover{
    transform: scale(1.05);
    transition: transform 0.1s ease;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}
.logo{
    margin: 10px;
    border-radius: 30%;
    width: 70px;
    height: 70px;
    box-shadow:
    0 -4px 6px rgba(0,0,0,0.2),
    0 4px 6px rgba(0,0,0,0.2),
    -4px 0 6px rgba(0,0,0,0.2), 
    4px 0 6px rgba(0,0,0,0.2);
}
.edu{
    display: flex;
    align-items: center;
    gap: 12px;
}
.edu p {
    margin: 2px;
    line-height: 1.3;
}
.mainin{
    width: 60%;
    
}
.sin{
    width: 60%;
    margin-left: 5%;
}
.footer{
    width: 75%;
    margin: 30px auto;
    border-radius: 15px;
    background: rgb(255, 255, 255);
    gap: 20px;
    box-shadow: 2px 2px 8px gray;
    padding-top: 5px;
    padding-bottom: 5px;
}
.footer:hover
{
    transform: scale(1.05);
    transition: transform 0.1s ease;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}
.cpr{
    color: rgba(7, 46, 46, 0.762);
    font-size: 90%;
    margin: 20px 0px 20px 20px;
}
.inspired{
    text-align: right;
    padding-right: 30px;
}
.imgct{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    text-align: center;
    margin: 0;
    font-family: 'Fredoka', serif;  
}
.imgsz{
    width: 100%;
}
.story{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 20px;
    white-space: normal;
    overflow-wrap: break-word;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}
summary {
    border-radius: 20px;
    list-style: none;
    display: flex;
    padding-left: 20px;
    align-items: center;
    padding-right: 10px;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;

    -webkit-tap-highlight-color: transparent;
    outline: none;
}
summary:hover{
    transition: transform 0.1s ease;
    background-color: rgba(0, 0, 0, 0.303);
}
.noidung{
    width: 98%;
    box-sizing: border-box;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-direction: column;
    white-space: normal;
    overflow-wrap: break-word;
}
summary::-webkit-details-marker {
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}
.icon
{
    width: 3%;
    fill:rgba(0, 0, 0, 0.734)
}
details[open] .icon {
  transform: rotate(180deg);
}
details[open] summary{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.list{
    gap: 15px;
    display: flex;
    flex-direction: column;
}
.board{
    margin-left: 3%;
    flex-direction: column;
    padding-left: 30px;
    margin-bottom: 20px;
    display: flex;
    border-radius: 20px;
    border: 10px dashed gray;
}
.infotheory{
    width: 90%;
    display: flex;
    flex-direction: row;
    user-select: none;
}
.infotheory:hover
{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
.chitiettheory{
    flex-direction: column;
    margin-left: 20px;
}
.chitiettheory > * {
    margin-top: 10px;
}
.imgtheory{
    display: flex;
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    border: 2px solid rgb(58, 3, 3);
    margin-bottom: 20px;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-text {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);

    background-color: white;
    color: black;
    padding: 6px 10px;
    border-radius: 8px;

    border: 3px dashed rgba(0, 0, 0, 0.601); /* viền nét đứt */
    white-space: nowrap;

    transition: opacity 0.25s ease;
}
.tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
.achie{
    width: 100%;
    padding-right: 20px;
    margin-left: 20px;
}
#pic{
    width: 100%;
    border-radius: 25px;
}
.ggal{
    display: flex;
    gap: 20px;
}
.ggal i{
    color: green;;
}
.img-box{
    width: 31%;
}
.ggal img{
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    display: flex;
    border-radius: 20px;
    margin-bottom: 20px;
}
.ggal img:hover{
    transform: scale(1.1);
}
.gallery{
    padding-top: 10px;
    margin-left: 40px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.gallery h1{
    margin-bottom: 0;
}
.gallery p{
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: 5px;
    color: rgba(128, 128, 128, 0.762);
}
@media (max-width: 768px) {
    .all{
        justify-self: center;
    }
    .wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .general {
        width: 100%;
        flex-direction: column;
        display: flex;
        justify-content: center;
    }
    .nickname{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .bio{
        display: flex;
        justify-content: center;
        left: 5px;
    }
    .contact
    {
        display: flex;
        justify-content: center;
    }
    #title_0
    {
        flex-direction: column;
    }
    .mainin{
        width: 100%;
    }
    .info{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .sin{
        width: 100%;
        margin: 0;
    }
    .footer{
        width: 100%;
    }
    .story{
        width: 90%;
    }
    .cpr{
        padding-right: 10px;
    }
    .dieuhuong{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .btn{
        display: flex;
        flex-wrap: wrap;
    }
}